---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/161.185.207.20/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 54dcdcffe2f6396b3b7fdbc547bceb09/6064215126259218209
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "161.185.207.20",
          "city": "Brooklyn",
          "region": "New York",
          "country": "US",
          "loc": "40.6501,-73.9496",
          "postal": "11202",
          "timezone": "America/New_York",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Mon, 20 Jan 2020 12:32:07 GMT
recorded_with: VCR 3.0.3
